@import "bootstrap-sprockets";
@import "bootstrap/scss/bootstrap";

.navbar-custom {
  background-color: #21107E;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	test-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold
}